@import url(reset.css);
/* This one is different */
/* This one is also different */
/* Those are the same */
/*
 * Guidelines:
 * rule: display float width height margin padding border background colors text
 * (todo plugin? haskell)
 */
html {
  font-size: 13px;
  font-family: Montserrat, Arial, sans-serif;
  color: #727272; }

@media screen and (max-height: 850px) {
  html div.app {
    zoom: 0.8; }
  html .iconsOnTheRight {
    float: right; } }
.gridtest.grid {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding-left: 50px;
  padding-right: 50px;
  white-space: nowrap;
  font-size: 0;
  pointer-events: none;
  display: none; }
  .gridtest.grid > * {
    font-size: 1rem; }

.gridtest.a {
  display: inline-block;
  width: calc((100vw - 2*50px - 11 * 30px) / 12 * 1 + 30px * 0);
  margin-right: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 0 + 30px);
  background: blue;
  height: 20px; }

@keyframes loading {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
.topBar {
  padding-left: 50px;
  padding-right: 50px;
  white-space: nowrap;
  font-size: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24); }
  .topBar > * {
    font-size: 1rem; }
  .topBar > * {
    vertical-align: top; }
  .topBar .logo {
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 1 + 30px * 0);
    height: 20px;
    display: inline-block;
    margin-right: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 1 + 30px); }
    .topBar .logo.loading {
      animation: loading 1s infinite; }
  .topBar .search {
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 6 + 30px * 5);
    /* @include margin-right-colspan(1); */
    margin-left: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 1);
    display: inline-block; }
    .topBar .search input {
      margin: auto;
      width: 80%;
      display: block;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: 20px center;
      padding-left: 58px;
      background-image: url("../img/icon_search.png");
      line-height: 3.5rem;
      border: 1px solid #cfd0d5;
      border-radius: 4px; }
      .topBar .search input:focus {
        background-image: url("../img/icon_search_blue.png"); }
  .topBar .iconsOnTheRight {
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
    display: inline-block;
    text-align: right;
    float: right; }
    .topBar .iconsOnTheRight a.showManageCollaborators {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background: #77b0ff no-repeat center center url("../img/icon_manageCollaborators.png");
      display: block;
      margin: auto;
      display: inline-block; }
      .topBar .iconsOnTheRight a.showManageCollaborators:hover {
        background-color: #5688dc; }
    .topBar .iconsOnTheRight .myProfile {
      display: inline-block;
      margin-left: 10px; }
      .topBar .iconsOnTheRight .myProfile > a {
        display: inline-block;
        width: 42px;
        height: 42px;
        border-radius: 50%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
      .topBar .iconsOnTheRight .myProfile .component_burger {
        display: inline-block;
        vertical-align: top;
        margin-left: 4px; }
        .topBar .iconsOnTheRight .myProfile .component_burger > a {
          font-size: 0;
          width: 10px;
          height: 40px;
          background: url("../img/icon_chevron.png") no-repeat center center;
          background-size: contain;
          display: block; }
          .topBar .iconsOnTheRight .myProfile .component_burger > a:hover {
            background-image: url("../img/icon_chevron_hover.png"); }
  .topBar .topBar_innerSeparator {
    height: 30px; }
  .topBar .importPresentation {
    vertical-align: middle;
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
    line-height: 2.76rem;
    border-radius: 4px;
    border: 1px solid #727272;
    font-weight: 500;
    background: #ffa277;
    border-color: #ffa277;
    color: white;
    margin-right: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 1 + 30px);
    display: inline-block; }
    .topBar .importPresentation:hover {
      background: #FF9463;
      cursor: pointer; }
  .topBar .breadcrumbs {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.4rem;
    letter-spacing: -0.5px; }
    .topBar .breadcrumbs > * {
      margin-right: 10px; }
    .topBar .breadcrumbs .breadcrumbs_breadcrumb {
      color: #cfd0d5; }
    .topBar .breadcrumbs .breadcrumbs_separator {
      color: #cfd0d5; }
    .topBar .breadcrumbs .breadcrumbs_breadcrumb-active {
      font-weight: 500;
      color: #333; }
    .topBar .breadcrumbs .component_burger {
      display: inline-block; }

html {
  background: #fafcff; }

.page {
  background: #fafcff;
  /*@include grid;*/
  padding-right: 0;
  /*display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;*/
  padding-top: calc(26px + 3.5rem + 2px + 30px + 2.76rem + 2px);
  padding-left: 50px;
  padding-right: 50px;
  white-space: nowrap;
  font-size: 0;
  padding-right: 0; }
  .page > * {
    font-size: 1rem; }
  .page .page_left {
    padding-left: 50px;
    padding-right: 50px;
    white-space: nowrap;
    font-size: 0;
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 3 + 30px * 2);
    border-right: 1px solid #e3eefe;
    flex-shrink: 0;
    padding-top: 13px;
    padding-right: 30px;
    overflow: auto;
    position: fixed;
    top: calc(26px + 3.5rem + 2px + 30px + 2.76rem + 2px);
    left: 0; }
    .page .page_left > * {
      font-size: 1rem; }
    .page .page_left.page_left-big {
      bottom: 43px; }
    .page .page_left.page_left-small {
      bottom: 315px; }
    .page .page_left ul li a {
      display: block;
      line-height: 2rem;
      padding-left: 32px;
      background: url("../img/icon_presentation_blue.png") no-repeat 10px center;
      overflow: hidden;
      text-overflow: ellipsis; }
      .page .page_left ul li a:hover {
        background-color: #77b0ff;
        background-image: url("../img/icon_presentation_white.png");
        color: white;
        cursor: pointer; }
  .page .page_right {
    overflow: auto;
    overflow-x: hidden;
    position: fixed;
    top: calc(26px + 3.5rem + 2px + 30px + 2.76rem + 2px);
    right: 0;
    left: 50px;
    /*flex-grow: 1;*/
    margin-left: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 3); }
    .page .page_right.page_right-big {
      bottom: 43px; }
    .page .page_right.page_right-small {
      bottom: 315px; }
    .page .page_right .page_right_topBar-presentation {
      height: 50px;
      /* ARBITRARY */
      z-index: 4;
      background: #fafcff;
      padding: 23px 0 30px 0;
      padding-left: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 0 + 30px);
      border-bottom: 1px solid #e3eefe;
      padding-right: 50px;
      position: absolute;
      top: 0;
      /* @include left-colspan(3); */
      right: 0;
      transform: translateX(1px);
      left: 1px;
      /*
      .downloadSelectedSlides {
          float: left;
          @include margin-right-colspan(0);
          &:not(.downloadSelectedSlides-disabled) {
              @include button-secondary-enabled;
          }
          &.downloadSelectedSlides-disabled {
              @include button-secondary-disabled;
          }
      }*/ }
      .page .page_right .page_right_topBar-presentation .downloadPresentation {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        background: transparent;
        border-color: #77b0ff;
        color: #77b0ff;
        float: left; }
        .page .page_right .page_right_topBar-presentation .downloadPresentation:hover {
          border-color: #5688dc;
          color: #5688dc;
          cursor: pointer; }
      .page .page_right .page_right_topBar-presentation .presentationComment {
        margin-left: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 2);
        color: #333; }
        .page .page_right .page_right_topBar-presentation .presentationComment h3 {
          display: inline;
          font-weight: 500; }
        .page .page_right .page_right_topBar-presentation .presentationComment .presentationComment-edit {
          color: #77b0ff;
          font-size: 0.85rem;
          margin-left: 10px; }
          .page .page_right .page_right_topBar-presentation .presentationComment .presentationComment-edit:hover {
            color: #5688dc; }
        .page .page_right .page_right_topBar-presentation .presentationComment p {
          font-weight: 300;
          margin-top: 5px;
          white-space: normal; }
    .page .page_right .page_right_topBar-search {
      padding: 35px 0 0px 0;
      padding-left: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 0 + 30px);
      border-bottom: 1px solid #e3eefe; }
      .page .page_right .page_right_topBar-search h2 {
        font-size: 1.4rem;
        font-weight: 500;
        color: #333; }
      .page .page_right .page_right_topBar-search ul {
        margin-top: 20px; }
        .page .page_right .page_right_topBar-search ul li {
          display: inline-block;
          position: relative; }
          .page .page_right .page_right_topBar-search ul li a {
            display: block;
            line-height: 3rem;
            padding: 0 20px;
            color: #333; }
          .page .page_right .page_right_topBar-search ul li.active a {
            color: #77b0ff; }
          .page .page_right .page_right_topBar-search ul li.active:after {
            content: " ";
            display: block;
            height: 2px;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            background: #77b0ff; }
    .page .page_right .page_right_topBar-search + .page_right_page {
      padding-top: 20px; }
    .page .page_right .page_right_page {
      z-index: 3;
      padding-left: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 0 + 30px);
      padding-top: 120px;
      white-space: normal; }
      .page .page_right .page_right_page .page_right_page_slide, .page .page_right .page_right_page .page_right_page_presentation {
        display: block;
        width: 227px;
        height: 141px;
        border-radius: 4px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 35px;
        position: relative; }
        .page .page_right .page_right_page .page_right_page_slide:hover, .page .page_right .page_right_page .page_right_page_presentation:hover {
          box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.46); }
        .page .page_right .page_right_page .page_right_page_slide:active, .page .page_right .page_right_page .page_right_page_presentation:active {
          box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.75); }
      .page .page_right .page_right_page .page_right_page_slide .page_right_page_slide_presentationTitle {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        background: white;
        line-height: 30px;
        padding-left: 5px;
        font-size: 0.85;
        font-weight: 500; }
      .page .page_right .page_right_page .page_right_page_presentation .page_right_page_presentation_presentationTitle {
        display: none; }
      .page .page_right .page_right_page .page_right_page_presentation:hover .page_right_page_presentation_presentationTitle {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        line-height: 141px;
        vertical-align: middle;
        color: white;
        display: block;
        text-align: center;
        font-weight: 500; }

.bottomBar {
  background-color: white;
  position: fixed;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: calc(13px + 30px);
  box-sizing: border-box;
  transition: height .3s ease-out;
  overflow: hidden;
  height: 5px; }
  .bottomBar.bottomBar-active {
    height: 315px;
    overflow: auto; }
  .bottomBar .bottomBar_toggler {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 5px;
    width: 20px;
    height: 20px;
    background: url("../img/icon_chevron.png") no-repeat center center;
    display: block; }
    .bottomBar .bottomBar_toggler:hover {
      background-image: url("../img/icon_chevron_hover.png"); }
  .bottomBar:not(.bottomBar-active) .bottomBar_toggler {
    transform: translateX(-50%) rotate(180deg); }
  .bottomBar .bottomBar_top {
    padding-left: 50px;
    padding-right: 50px;
    white-space: nowrap;
    font-size: 0; }
    .bottomBar .bottomBar_top > * {
      font-size: 1rem; }
    .bottomBar .bottomBar_top .downloadGeneratedPresentation {
      float: left;
      margin-right: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 0 + 30px); }
      .bottomBar .bottomBar_top .downloadGeneratedPresentation:not(.downloadGeneratedPresentation-disabled) {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        background: #ffa277;
        border-color: #ffa277;
        color: white; }
        .bottomBar .bottomBar_top .downloadGeneratedPresentation:not(.downloadGeneratedPresentation-disabled):hover {
          background: #FF9463;
          cursor: pointer; }
      .bottomBar .bottomBar_top .downloadGeneratedPresentation.downloadGeneratedPresentation-disabled {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        color: #cfd0d5;
        border-color: #cfd0d5;
        pointer-events: none;
        pointer-events: none; }
    .bottomBar .bottomBar_top .saveGeneratedPresentation {
      float: left;
      margin-right: calc((((100vw - 2 * 50px - 11 * 30px) / 12) + 30px) * 0 + 30px); }
      .bottomBar .bottomBar_top .saveGeneratedPresentation:not(.saveGeneratedPresentation-disabled) {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        background: transparent;
        border-color: #77b0ff;
        color: #77b0ff; }
        .bottomBar .bottomBar_top .saveGeneratedPresentation:not(.saveGeneratedPresentation-disabled):hover {
          border-color: #5688dc;
          color: #5688dc;
          cursor: pointer; }
      .bottomBar .bottomBar_top .saveGeneratedPresentation.saveGeneratedPresentation-disabled {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        color: #cfd0d5;
        border-color: #cfd0d5;
        pointer-events: none;
        pointer-events: none; }
    .bottomBar .bottomBar_top .clearGeneratedPresentation {
      float: right;
      text-align: center; }
      .bottomBar .bottomBar_top .clearGeneratedPresentation:not(.clearGeneratedPresentation-disabled) {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        background: transparent;
        border-color: #77b0ff;
        color: #77b0ff; }
        .bottomBar .bottomBar_top .clearGeneratedPresentation:not(.clearGeneratedPresentation-disabled):hover {
          border-color: #5688dc;
          color: #5688dc;
          cursor: pointer; }
      .bottomBar .bottomBar_top .clearGeneratedPresentation.clearGeneratedPresentation-disabled {
        width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
        line-height: 2.76rem;
        border-radius: 4px;
        border: 1px solid #727272;
        font-weight: 500;
        color: #cfd0d5;
        border-color: #cfd0d5;
        pointer-events: none; }
        .bottomBar .bottomBar_top .clearGeneratedPresentation.clearGeneratedPresentation-disabled span {
          filter: grayscale(1); }
      .bottomBar .bottomBar_top .clearGeneratedPresentation .clearGeneratedPresentation_icon {
        width: 20px;
        height: 20px;
        position: relative;
        top: -2px;
        background: no-repeat center center url("../img/icon_trash.png");
        margin-right: 5px;
        display: inline-block;
        vertical-align: middle; }
      .bottomBar .bottomBar_top .clearGeneratedPresentation:hover .clearGeneratedPresentation_icon {
        background-image: url("../img/icon_trash_hover.png"); }
  .bottomBar .bottomBar_delineator {
    height: 1px;
    background: #e3eefe;
    margin-top: 15px; }
  .bottomBar .bottomBar_listOfSlides {
    padding-top: 15px;
    overflow: auto;
    position: absolute;
    top: calc(17px + 2.76rem + 13px + 30px);
    left: 0;
    right: 0;
    bottom: 0;
    white-space: normal;
    font-size: 0;
    padding-left: 50px;
    padding-right: 50px; }
    .bottomBar .bottomBar_listOfSlides li {
      font-size: 1rem;
      display: inline-block;
      width: 200px;
      height: 130px;
      margin-right: 30px;
      margin-bottom: 30px;
      background: gray;
      position: relative;
      background: white; }
      .bottomBar .bottomBar_listOfSlides li.bottomBar_listOfSlides_slide {
        border-radius: 4px;
        box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
        border: 2px solid transparent; }
      .bottomBar .bottomBar_listOfSlides li.bottomBar_listOfSlides_placeholder {
        border: dashed 2px #e3eefe;
        background-size: 30%; }
      .bottomBar .bottomBar_listOfSlides li .bottomBar_listOfSlides_slide_image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-size: cover; }
      .bottomBar .bottomBar_listOfSlides li .bottomBar_listOfSlides_slide_title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        background: white;
        line-height: 30px;
        padding-left: 5px;
        font-size: 0.85;
        font-weight: 500; }
      .bottomBar .bottomBar_listOfSlides li .bottomBar_listOfSlides_slide_remove {
        background-color: #77b0ff;
        color: white;
        font-size: 2.5rem;
        box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
        border-radius: 50% 50%;
        width: 30px;
        height: 30px;
        bottom: 15px;
        text-align: center;
        position: absolute;
        right: 5px;
        line-height: 30px; }
        .bottomBar .bottomBar_listOfSlides li .bottomBar_listOfSlides_slide_remove:hover {
          background-color: #5688dc; }

.manageCollaborators {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2017; }
  .manageCollaborators .manageCollaborators_modal {
    background: white;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 40px 40px 40px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24); }
    .manageCollaborators .manageCollaborators_modal h3 {
      font-weight: 500;
      margin-bottom: 30px; }
    .manageCollaborators .manageCollaborators_modal .manageCollaborators_modal_close {
      position: absolute;
      height: 20px;
      font-size: 5rem;
      color: white;
      text-align: right;
      position: absolute;
      top: -60px;
      right: 0; }
      .manageCollaborators .manageCollaborators_modal .manageCollaborators_modal_close:hover {
        color: #EEE; }
    .manageCollaborators .manageCollaborators_modal .manageCollaborators_addCollaborator {
      position: relative;
      margin: auto;
      height: 3.5rem;
      width: 50%;
      margin-top: 1rem; }
      .manageCollaborators .manageCollaborators_modal .manageCollaborators_addCollaborator input {
        background: transparent;
        padding-left: 23px;
        line-height: 3.5rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 4px;
        padding-right: 20%;
        border: solid 1px #cfd0d5;
        box-sizing: border-box; }
        .manageCollaborators .manageCollaborators_modal .manageCollaborators_addCollaborator input:focus, .manageCollaborators .manageCollaborators_modal .manageCollaborators_addCollaborator input:focus + button {
          border-color: #77b0ff;
          color: #77b0ff; }
      .manageCollaborators .manageCollaborators_modal .manageCollaborators_addCollaborator button {
        border-left: solid 1px #cfd0d5;
        border-radius: 4px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20%;
        text-align: center;
        font-size: 2rem;
        color: #cfd0d5;
        outline: none; }
        .manageCollaborators .manageCollaborators_modal .manageCollaborators_addCollaborator button:hover {
          background: #77b0ff;
          color: white !important; }

.presentationKeywords {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2017; }
  .presentationKeywords .presentationKeywords_modal {
    background: white;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 40px 40px 40px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24); }
    .presentationKeywords .presentationKeywords_modal h3 {
      font-weight: 500;
      margin-bottom: 30px; }
    .presentationKeywords .presentationKeywords_modal .presentationKeywords_modal_close {
      position: absolute;
      height: 20px;
      font-size: 5rem;
      color: white;
      text-align: right;
      position: absolute;
      top: -60px;
      right: 0; }
      .presentationKeywords .presentationKeywords_modal .presentationKeywords_modal_close:hover {
        color: #EEE; }

.presentationShowConfirmDelete {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2017; }
  .presentationShowConfirmDelete .presentationShowConfirmDelete_modal {
    background: white;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 40px 40px 40px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24); }
    .presentationShowConfirmDelete .presentationShowConfirmDelete_modal h3 {
      font-weight: 500;
      margin-bottom: 30px; }
    .presentationShowConfirmDelete .presentationShowConfirmDelete_modal .presentationShowConfirmDelete_modal_close {
      position: absolute;
      height: 20px;
      font-size: 5rem;
      color: white;
      text-align: right;
      position: absolute;
      top: -60px;
      right: 0; }
      .presentationShowConfirmDelete .presentationShowConfirmDelete_modal .presentationShowConfirmDelete_modal_close:hover {
        color: #EEE; }
    .presentationShowConfirmDelete .presentationShowConfirmDelete_modal .presentationShowConfirmDelete_modal_yes {
      width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
      line-height: 2.76rem;
      border-radius: 4px;
      border: 1px solid #727272;
      font-weight: 500;
      background: #ffa277;
      border-color: #ffa277;
      color: white;
      display: inline-block; }
      .presentationShowConfirmDelete .presentationShowConfirmDelete_modal .presentationShowConfirmDelete_modal_yes:hover {
        background: #FF9463;
        cursor: pointer; }
    .presentationShowConfirmDelete .presentationShowConfirmDelete_modal .presentationShowConfirmDelete_modal_no {
      width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
      line-height: 2.76rem;
      border-radius: 4px;
      border: 1px solid #727272;
      font-weight: 500;
      background: transparent;
      border-color: #77b0ff;
      color: #77b0ff;
      display: inline-block; }
      .presentationShowConfirmDelete .presentationShowConfirmDelete_modal .presentationShowConfirmDelete_modal_no:hover {
        border-color: #5688dc;
        color: #5688dc;
        cursor: pointer; }

.diaporama {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2017;
  z-index: 10;
  color: #333; }
  .diaporama .diaporama_exit {
    position: absolute;
    height: 20px;
    font-size: 5rem;
    color: white;
    text-align: right;
    position: absolute;
    top: -60px;
    right: 0;
    right: auto;
    left: calc(50% + 450px);
    top: 20px; }
    .diaporama .diaporama_exit:hover {
      color: #EEE; }
  .diaporama .diaporama_addToGeneratedPresentation {
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
    line-height: 2.76rem;
    border-radius: 4px;
    border: 1px solid #727272;
    font-weight: 500;
    background: #ffa277;
    border-color: #ffa277;
    color: white;
    dispay: block;
    position: absolute;
    text-align: center;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%) translateY(50%); }
    .diaporama .diaporama_addToGeneratedPresentation:hover {
      background: #FF9463;
      cursor: pointer; }
  .diaporama .diaporama_previousSlide, .diaporama .diaporama_nextSlide, .diaporama .diaporama_currentSlide {
    width: calc(1.78 * (100vh - 350px));
    background: #f8f8f8;
    position: absolute;
    top: 100px;
    bottom: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center; }
  .diaporama .diaporama_previousSlide {
    right: 90%; }
  .diaporama .diaporama_nextSlide {
    left: 90%; }
  .diaporama .diaporama_currentSlide {
    left: 50%;
    transform: translateX(-50%); }
  .diaporama .diaporama_currentSlideInformation {
    background: white;
    width: calc(1.78 * (100vh - 350px));
    position: absolute;
    bottom: 50px;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }
    .diaporama .diaporama_currentSlideInformation h3 {
      font-weight: 500;
      margin-bottom: 25px; }
    .diaporama .diaporama_currentSlideInformation .diaporama_currentSlideInformation_tags {
      padding: 20px 50px;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      width: 50%;
      top: 0;
      bottom: 0;
      overflow: auto; }
    .diaporama .diaporama_currentSlideInformation .diaporama_currentSlideInformation_comment {
      padding: 20px 50px;
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      width: 50%;
      bottom: 0;
      top: 0;
      border-left: 1px solid #e3eefe;
      overflow: auto;
      font-weight: 300; }
  .diaporama .diaporama_banner {
    width: calc((100vw - 2*50px - 11 * 30px) / 12 * 5 + 30px * 4);
    background-color: white;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
    text-align: center;
    position: absolute;
    padding: 25px 0;
    top: 100px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 500;
    font-size: 1.4rem;
    position: relative; }
    .diaporama .diaporama_banner small {
      margin-top: .3rem;
      font-size: 1rem;
      font-weight: normal;
      display: block; }
    .diaporama .diaporama_banner .diaporama_banner_text {
      user-select: none; }
      .diaporama .diaporama_banner .diaporama_banner_text h3 {
        font-weight: 500;
        font-size: 1.38rem; }
    .diaporama .diaporama_banner .diaporama_gotoPreviousSlide, .diaporama .diaporama_banner .diaporama_gotoNextSlide {
      width: 52px;
      height: 52px;
      background: url("../img/icon_chevron_left.png") no-repeat center center #77b0ff;
      border-radius: 50% 50%;
      position: absolute;
      top: 50%;
      box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24); }
      .diaporama .diaporama_banner .diaporama_gotoPreviousSlide:hover, .diaporama .diaporama_banner .diaporama_gotoNextSlide:hover {
        background-color: #5688dc; }
    .diaporama .diaporama_banner .diaporama_gotoPreviousSlide {
      left: 0;
      transform: translateY(-50%) translateX(-50%); }
    .diaporama .diaporama_banner .diaporama_gotoNextSlide {
      right: 0;
      transform: translateY(-50%) translateX(50%) rotate(180deg); }

.login {
  background-color: #fafcff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .login .login_modal {
    width: 425px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
    padding: 2.5rem 85px 4rem;
    box-sizing: border-box;
    color: #333; }
    .login .login_modal h3 {
      font-weight: 500;
      text-align: center;
      font-size: 1.3rem;
      padding-bottom: 3.3rem; }
    .login .login_modal label {
      font-weight: 500;
      display: block; }
    .login .login_modal input {
      display: block;
      border: solid 1px #cfd0d5;
      border-radius: 4px;
      line-height: 3.5rem;
      width: 100%;
      padding-left: 15px; }
    .login .login_modal button {
      width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
      line-height: 2.76rem;
      border-radius: 4px;
      border: 1px solid #727272;
      font-weight: 500;
      background: #ffa277;
      border-color: #ffa277;
      color: white;
      width: 100%;
      display: block;
      margin-bottom: 1.3rem;
      margin-top: 3rem; }
      .login .login_modal button:hover {
        background: #FF9463;
        cursor: pointer; }
    .login .login_modal small {
      text-align: center;
      display: block;
      font-size: 0.85rem; }
    .login .login_modal small a {
      color: #659eff;
      font-weight: 500; }
      .login .login_modal small a:hover {
        color: #5688dc; }

.signUp {
  background-color: #fafcff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }
  .signUp .signUp_modal {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
    padding: 2.5rem 85px 4rem;
    box-sizing: border-box;
    color: #333; }
    .signUp .signUp_modal .signUp_modal_left {
      float: left; }
    .signUp .signUp_modal .signUp_modal_right {
      float: right; }
    .signUp .signUp_modal h3 {
      font-weight: 500;
      text-align: center;
      font-size: 1.3rem;
      padding-bottom: 3.3rem; }
    .signUp .signUp_modal label {
      font-weight: 500;
      display: block; }
    .signUp .signUp_modal input {
      display: block;
      border: solid 1px #cfd0d5;
      border-radius: 4px;
      line-height: 3.5rem;
      width: 100%;
      padding-left: 15px;
      margin-bottom: 1rem; }
    .signUp .signUp_modal button {
      width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
      line-height: 2.76rem;
      border-radius: 4px;
      border: 1px solid #727272;
      font-weight: 500;
      background: #ffa277;
      border-color: #ffa277;
      color: white;
      width: 200px;
      margin: auto;
      display: block;
      margin-bottom: 1.3rem;
      margin-top: 3rem; }
      .signUp .signUp_modal button:hover {
        background: #FF9463;
        cursor: pointer; }
    .signUp .signUp_modal small {
      text-align: center;
      display: block;
      font-size: 0.85rem; }
    .signUp .signUp_modal small a {
      color: #659eff;
      font-weight: 500; }
      .signUp .signUp_modal small a:hover {
        color: #5688dc; }

.saveOrImportPresentation {
  background-color: #fafcff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2017; }
  .saveOrImportPresentation .saveOrImportPresentation_modal {
    background: white;
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 20px 40px 40px 40px;
    position: relative;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
    padding: 2.5rem 85px 4rem;
    box-sizing: border-box;
    color: #333; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_left {
      float: left;
      width: 40%; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_right {
      float: right;
      width: 40%; }
      .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_right .component_tags .component_tags_addTag {
        margin-top: 0; }
    .saveOrImportPresentation .saveOrImportPresentation_modal h3 {
      font-weight: 500;
      text-align: center;
      font-size: 1.3rem;
      padding-bottom: 3.3rem; }
    .saveOrImportPresentation .saveOrImportPresentation_modal label {
      font-weight: 500;
      display: block;
      text-align: left; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .component_tags .component_tags_addTag {
      width: 100%; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_left input, .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_left textarea {
      display: block;
      border: solid 1px #cfd0d5;
      border-radius: 4px;
      width: 100%;
      padding-left: 15px;
      margin-bottom: 1rem;
      box-sizing: border-box; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_left input {
      line-height: 3.5rem; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_left textarea {
      font: inherit;
      height: 150px;
      padding: 1.5rem;
      line-height: 1.5rem; }
    .saveOrImportPresentation .saveOrImportPresentation_modal > button {
      width: 200px;
      margin-bottom: 1.3rem;
      margin-top: 3rem; }
    .saveOrImportPresentation .saveOrImportPresentation_modal button[type=submit] {
      width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
      line-height: 2.76rem;
      border-radius: 4px;
      border: 1px solid #727272;
      font-weight: 500;
      background: #ffa277;
      border-color: #ffa277;
      color: white;
      margin-right: 10px; }
      .saveOrImportPresentation .saveOrImportPresentation_modal button[type=submit]:hover {
        background: #FF9463;
        cursor: pointer; }
    .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_cancel {
      width: calc((100vw - 2*50px - 11 * 30px) / 12 * 2 + 30px * 1);
      line-height: 2.76rem;
      border-radius: 4px;
      border: 1px solid #727272;
      font-weight: 500;
      background: transparent;
      border-color: #77b0ff;
      color: #77b0ff; }
      .saveOrImportPresentation .saveOrImportPresentation_modal .saveOrImportPresentation_modal_cancel:hover {
        border-color: #5688dc;
        color: #5688dc;
        cursor: pointer; }
    .saveOrImportPresentation .saveOrImportPresentation_modal small {
      text-align: center;
      display: block;
      font-size: 0.85rem; }
    .saveOrImportPresentation .saveOrImportPresentation_modal small a {
      color: #659eff;
      font-weight: 500; }
      .saveOrImportPresentation .saveOrImportPresentation_modal small a:hover {
        color: #5688dc; }

/* COMPONENTS */
.component_burger {
  display: block;
  position: relative; }
  .component_burger:not(.component_burger-active) > ul {
    transform: scale(0);
    pointer-events: none; }
  .component_burger > a {
    display: block;
    letter-spacing: 1px;
    color: #77b0ff; }
    .component_burger > a:hover {
      color: #5688dc; }
  .component_burger ul {
    transform-origin: top left;
    transform: scale(1);
    transition: .2s ease-out;
    overflow: hidden;
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    border-radius: 4px;
    width: 150px;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24); }
    .component_burger ul li a {
      display: block;
      line-height: 3rem;
      padding-left: 15px; }
      .component_burger ul li a:hover {
        background: #f8f8f8; }
    .component_burger ul li:not(:last-child) {
      border-bottom: 1px solid #e3eefe; }
  .component_burger.component_burger-alignRight ul {
    transform-origin: top right;
    text-align: right;
    left: auto;
    right: 0; }
    .component_burger.component_burger-alignRight ul li a {
      padding-left: 0;
      padding-right: 15px; }

.component_tags .component_tags_tag {
  padding: 5px 20px;
  color: #77b0ff;
  display: inline-block;
  border-radius: 4px;
  border: solid 1px #77b0ff;
  margin-right: 5px;
  margin-bottom: 5px;
  position: relative; }
  .component_tags .component_tags_tag:hover {
    background: #ffa277;
    border: solid 1px #ffa277;
    color: white; }
    .component_tags .component_tags_tag:hover .component_tags_tag_close {
      display: block; }
  .component_tags .component_tags_tag .component_tags_tag_close {
    z-index: 2;
    display: none;
    background-color: #77b0ff;
    color: white;
    font-size: 2.5rem;
    box-shadow: 0 4px 6px 0 rgba(171, 171, 171, 0.24);
    border-radius: 50% 50%;
    width: 30px;
    height: 30px;
    bottom: 15px;
    text-align: center;
    position: absolute;
    right: 5px;
    line-height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: #77b0ff;
    transform: translateX(50%) translateY(-50%); }
    .component_tags .component_tags_tag .component_tags_tag_close:hover {
      background-color: #5688dc; }
.component_tags .component_tags_addTag {
  position: relative;
  margin: auto;
  height: 3.5rem;
  width: 50%;
  margin-top: 1rem; }
  .component_tags .component_tags_addTag input {
    background: transparent;
    padding-left: 23px;
    line-height: 3.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 4px;
    padding-right: 20%;
    border: solid 1px #cfd0d5;
    box-sizing: border-box; }
    .component_tags .component_tags_addTag input:focus, .component_tags .component_tags_addTag input:focus + button {
      border-color: #77b0ff;
      color: #77b0ff; }
  .component_tags .component_tags_addTag button {
    border-left: solid 1px #cfd0d5;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 20%;
    text-align: center;
    font-size: 2rem;
    color: #cfd0d5;
    outline: none; }
    .component_tags .component_tags_addTag button:hover {
      background: #77b0ff;
      color: white !important; }

input:focus {
  border-color: #77b0ff !important;
  color: #77b0ff !important; }

::-webkit-search-cancel-button {
  display: none !important; }

::placeholder {
  color: #cfd0d5;
  font-style: italic; }

:focus::placeholder {
  color: transparent; }

/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
::-webkit-scrollbar {
  width: 12px;
  border-right: 3px solid transparent; }

::-webkit-scrollbar-button {
  /* 2 */ }

::-webkit-scrollbar-track {
  visibility: hidden; }

::-webkit-scrollbar-track-piece {
  /* 4 */ }

::-webkit-scrollbar-thumb {
  background: #cfd0d5;
  border-radius: 3px; }

::-webkit-scrollbar-corner {
  /* 6 */ }

::-webkit-resizer {
  /* 7 */ }

/*# sourceMappingURL=style.css.map */
