@import "reset.css";

$primarybg: white;
$secondarybg: #f8f8f8;
$dark: #727272;
$gray: #f8f8f8;
$ondark: white;
$black: #333;
$disabled: #c7c7cc;
$delineator: #ececec;

$smaller: 0.85rem;

$gridcols: 12;
$gridgutter: 30px;
$gridoutermargin: 50px;

$sectionpadding: 13px;

// pour pouvoir faire des grilles à la volée, @include width(2,12,10px,20px) et utiliser les %
@mixin grid {
    padding-left: $gridoutermargin;
    padding-right: $gridoutermargin;
    white-space: nowrap;
    font-size: 0;
    > * { font-size: 1rem; }
}

/* This one is different */

@mixin width-colspan($span) {
    width: calc((100vw - 2*#{$gridoutermargin} - #{$gridcols - 1} * #{$gridgutter}) / #{$gridcols} * #{$span} + #{$gridgutter} * #{$span - 1})
}

/* This one is also different */

@mixin margin-left-colspan($span) {
    margin-left: calc((((100vw - 2 * #{$gridoutermargin} - #{$gridcols - 1} * #{$gridgutter}) / #{$gridcols}) + #{$gridgutter}) * #{$span});
}

/* Those are the same */

@mixin margin-right-colspan($span) {
    margin-right: calc((((100vw - 2 * #{$gridoutermargin} - #{$gridcols - 1} * #{$gridgutter}) / #{$gridcols}) + #{$gridgutter}) * #{$span} + #{$gridgutter});
}

@mixin padding-left-colspan($span) {
    padding-left: calc((((100vw - 2 * #{$gridoutermargin} - #{$gridcols - 1} * #{$gridgutter}) / #{$gridcols}) + #{$gridgutter}) * #{$span} + #{$gridgutter});
}

/*
 * Guidelines:
 * rule: display float width height margin padding border background colors text
 * (todo plugin? haskell)
 */

@mixin placeholder {
    width: 20px;
    height: 20px;
    background: $dark;
}

@mixin button {
    @include width-colspan(2);
    line-height: 2.7rem;
    border-radius: 4px;
    border: 1px solid $dark;
}

@mixin buttonlike {
    @include width-colspan(2);
    line-height: 2.7rem;
    border: 1px solid transparent;
}

@mixin button-primary-enabled {
    @include button;
    background: $dark;
    color: $ondark;
}

@mixin button-secondary-enabled {
    @include button;
}

@mixin button-secondary-disabled {
    @include button;
    color: $disabled;
    border-color: $disabled;
    pointer-events: none;
}

html {
    font-size: 13px;
    font-family: "Gotham Book", Gotham-Book, Arial, sans-serif;
    color: $dark;
}

.topBar {
    @include grid;
    padding-top: $sectionpadding;
    padding-bottom: 13px;
    position: relative;

    background-color: $primarybg;
    /* box-shadow: 0px 4px 4px rgba(0,0,0,0.24); */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    
    > * {
        vertical-align: top;
    }

    .logo {
        @include width-colspan(1);
        background: $dark;
        height: 20px;
        display: inline-block;
        @include margin-right-colspan(1);
    }

    .search {
        line-height: 3.5rem;
        background: #ececec;
        @include width-colspan(5);
        @include margin-right-colspan(3);
        display: inline-block;
    }

    .manageCollaborators {
        @include placeholder;
        @include width-colspan(1);
        @include margin-right-colspan(0);
        display: inline-block;
    }
    
    .myProfile {
        @include placeholder;
        @include width-colspan(1);
        display: inline-block;
    }
    
    .topBar_innerSeparator {
        height: 30px;
    }
    
    .importPresentation {
        vertical-align: middle;
        @include button-primary-enabled;
        @include margin-right-colspan(1);
        display: inline-block;
    }

    .breadcrumbs {
        vertical-align: middle;
        display: inline-block;
        > * { float: left; margin-right: 10px; }
        
        font-size: 1.4rem;
        letter-spacing: -0.5px;

        .breadcrumbs_breadcrumb {
            color: $disabled;
        }

        .breadcrumbs_separator {
            color: $disabled;
        }

        .breadcrumbs_breadcrumb-active {
            font-weight: bold;
            color: $black;
        }
    }
}

.page {
    background: $gray;
    @include grid;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    .page_left {
        @include width-colspan(3);
        height: 100vh;
        border-right: 1px solid $delineator;
        flex-shrink: 0;
        padding-top: $sectionpadding;
    }

    .page_right {
        flex-grow: 1;
        .page_right_topBar-presentation {

            padding: 13px 0 30px 0; // ?
            @include padding-left-colspan(0);
            border-bottom: 1px solid $delineator;

            .downloadPresentation {
                @include button-secondary-enabled;
                float: left;
                @include margin-right-colspan(0);
            }
            
            .downloadSelectedSlides {
                float: left;
                @include margin-right-colspan(0);
                &:not(.downloadSelectedSlides-disabled) {
                    @include button-secondary-enabled;
                }
                &.downloadSelectedSlides-disabled {
                    @include button-secondary-disabled;
                }
            }
           
            .presentationComment {
                @include margin-left-colspan(4);
                h3 {
                    display: inline;
                    font-weight: bold;
                }
                .presentationComment-edit {
                    color: $disabled;
                    font-size: $smaller;
                    margin-left: 10px;
                }
                
                p { margin-top: 5px; white-space: normal; }
            }
        }

        .page_right_topBar-search {
            
            padding: 35px 0 0px 0;
            @include padding-left-colspan(0);
            h2 {
                font-size: 1.4rem;
                font-weight: bold;
                color: $black;
            }
            
            ul {
                margin-top: 20px;
                
                li {
                    display: inline-block;
                    position: relative;
                    a {
                        display: block;
                        line-height: 3rem;
                        padding: 0 20px;
                    }
                    &.active:after {
                        content: " ";
                        display: block;
                        height: 2px;
                        position: absolute;
                        bottom: -1px;
                        left: 0;
                        right: 0;
                        background: $black;
                    }
                }
               
            }
            
            border-bottom: 1px solid $delineator;
        }
        
        .page_right_page {
            @include padding-left-colspan(0);
            padding-top: 20px;
            white-space: normal; 
            .page_right_page_slide {
                width: 227px;
                height: 141px;
                border-radius: 4px;
                background-color: #ffffff;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
                display: inline-block;
                margin-right: 20px;
                margin-bottom: 35px;
            }
        }
    }
}

.bottomBar {
    
    @include grid;
    
    background-color: $primarybg;
    position: fixed;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: calc(#{$sectionpadding} + 30px);
    
    height: 5px;
    box-sizing: border-box;
    transition: height .3s ease-out;
    
    overflow: hidden;
    &.bottomBar-active {
        height: 250px;
        overflow: auto;
    }
    
    .bottomBar_toggler {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) rotate(180deg);
        top: 5px;
        transition: transform 0.5s;
    }
    &:not(.bottomBar-active) .bottomBar_toggler { transform: translateX(-50%); }
    
    .downloadGeneratedPresentation {
        @include button-primary-enabled;
        float: left;
        @include margin-right-colspan(0);
    }

    .saveGeneratedPresentation {
        @include button-secondary-enabled;
        float: left;
        @include margin-right-colspan(0);
    }
    
    .clearGeneratedPresentation {
        @include buttonlike;
        color: $disabled;
    }
    
    .bottomBar_delineator {
        height: 1px;
        background: $delineator;
        width: 95%;
        margin: 30px auto;
    }
    
    
    .bottomBar_listOfSlides {
        white-space: normal;
        font-size: 0;
        li {
            font-size: 1rem;
            display: inline-block;
            width: 200px; height: 130px;
            margin-right: 30px;
            margin-bottom: 30px;
            background: gray;
            
            
            &.bottomBar_listOfSlides_slide {
                border-radius: 4px;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);   
                border: 2px solid transparent;
            }
            
            &.bottomBar_listOfSlides_placeholder {
                border: dashed 2px #ececec;
                background: white url("http://icons.iconarchive.com/icons/icons8/ios7/512/Very-Basic-Upload-To-Cloud-icon.png") center center no-repeat; background-size: 30%;
            }
            
            position: relative;
            background: white;
            
            .bottomBar_listOfSlides_slide_image {
                position: absolute;
                top: 0; left: 0; right: 0; bottom: 0;
                background-size: cover; 
            }
            
            .bottomBar_listOfSlides_slide_title {
                position: absolute; bottom: 0;
                left: 0; right: 0; height: 30px;
                background: white;
                line-height: 30px;
                padding-left: 5px;
            }
            
            .bottomBar_listOfSlides_slide_remove {
                background-color: #ffffff;
                box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
                border-radius: 50% 50%;
                width: 30px; height: 30px;
                bottom: 15px;
                text-align: center;
                position: absolute;
                right: 5px;
                line-height: 30px;
            }
        }
    }
    
        
}

/* COMPONENTS */

.component_burger {
    display: block; 
    
    position: relative;
    
    &:not(.component_burger-active) > ul {
        transform: scale(0);
        pointer-events: none;
    }
    
    
    ul {
        transform-origin: top left;
        transform: scale(1);
        transition: .2s ease-out;
        overflow: hidden;
        
        li {
            a {
                display: block;
                line-height: 3rem;
                padding-left: 15px;
                &:hover {
                    background: $gray;
                }
            }
            
            &:not(:last-child) {
                border-bottom: 1px solid $delineator;
            }
            
        }
        
        font-size: 1rem;
        
        position: absolute;
        left: 0; top: 100%; 
        background: white; 
        border-radius: 4px;
        width: 150px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.24), 0 0 4px 0 rgba(0, 0, 0, 0.12);
    }
    
    &.component_burger-alignRight {
        ul {
            transform-origin: top right;
            text-align: right;
            left: auto;
            right: 0; 
            li a {
                padding-left: 0;
                padding-right: 15px;
            }
        }   
    }
}