<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <script src="https://unpkg.com/vue"></script>
    <script src="js/prefixfree.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <div class="topBar">
            <h1 class="logo"></h1>

            <input class="search" type="search" placeholder="Rechercher dans vos présentations">

            <a class="manageCollaborators" href="#"></a>
            <div class="myProfile">
                <a href="#"></a>
                <burger align="right" :items="[{text: 'Mots-clés'}, {text: 'Renommer'}, {text: 'Supprimer'}]"></burger>
            </div>

            <div style="clear: both;"></div>
            <!-- ---- -->
            <div class="topBar_innerSeparator"></div>

            <button class="importPresentation" href="#">Importer une présentation</button>

            <div class="breadcrumbs">
                <a class="breadcrumbs_breadcrumb" href="#">Mon dossier</a>
                <span class="breadcrumbs_separator">&gt;</span>
                <a class="breadcrumbs_breadcrumb breadcrumbs_breadcrumb-active" href="#" >Nom de la présentation</a>
                <burger align="left" :items="[{text: 'Mots-clés'}, {text: 'Renommer'}, {text: 'Supprimer'}]"></burger>
            </div>
        </div>
        
        <div class="page">
            
            <div class="page_left">
                Arborescence de fichiers ici...
            </div>
            
            <div class="page_right">
                <div class="page_right_topBar">
                    <button class="downloadPresentation">Télécharger la présentation</button>
                    <button class="downloadSelectedSlides downloadSelectedSlides-disabled">Télécharger la sélection</button>

                    <div class="presentationComment">
                        <h3>Commentaire</h3> <a href="#" class="presentationComment-edit">Modifier</a><br>
                        <p>Duis ultrices vestibulum lacus non luctus. Praesent aliquet, justo ut accumsan bibendum, sem erat sagittis nunc, a vulputate diam ulla nisi. {{ message }}</p>
                    </div>
                </div>
                
                <div class="page_right_page">
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                    <div class="page_right_page_slide">
                    </div>
                </div>
                
            </div>
        </div>

        <div class="bottomBar" :class='{"bottomBar-active": bottomBarActive}'>
            <a class="bottomBar_toggler" href="#" @click="bottomBarActive = !bottomBarActive">^</a>
            <button class="downloadGeneratedPresentation" href="#">Télécharger</button>
            <button class="saveGeneratedPresentation" href="#">Sauvegarder</button>
            <a class="clearGeneratedPresentation" href="#">Tout effacer</a>
            
            <div class="bottomBar_delineator"></div>
            
            <ul class="bottomBar_listOfSlides">
                <li v-for="(generatedPresentationSlide, index) in generatedPresentationSlides" class="bottomBar_listOfSlides_slide">
                    <div class="bottomBar_listOfSlides_slide_image" :style='{"background-image": "url(" + generatedPresentationSlide.previewUrl + ")"}'></div>
                    <p class="bottomBar_listOfSlides_slide_title">{{generatedPresentationSlide.title}}</p>
                    <a class="bottomBar_listOfSlides_slide_remove" href="#" v-on:click="removeGeneratedPresentationSlide(index)">
                        &times;
                    </a>
                </li>
                
                <li class="bottomBar_listOfSlides_placeholder"></li>
                <li class="bottomBar_listOfSlides_placeholder"></li>
                <li class="bottomBar_listOfSlides_placeholder"></li>
                <li class="bottomBar_listOfSlides_placeholder"></li>
                <li class="bottomBar_listOfSlides_placeholder"></li>
                <li class="bottomBar_listOfSlides_placeholder"></li>
                <li class="bottomBar_listOfSlides_placeholder"></li>
            </ul>
        </div>
    </div>

    <script>
        /*
        
                        <li><a href="#">Mots-clés</a></li>
                        <li><a href="#">Renommer</a></li>
                        <li><a href="#">Supprimer</a></li>
                        */
        
        // register
        Vue.component('burger', {
          props: {
              items: Array,
              align: String
          },
          data: function() {
              return {active: false};
          },
          template: `
                <div class="component_burger" v-bind:class='{"component_burger-active": active, "component_burger-alignLeft": align == "left", "component_burger-alignRight": align == "right" }' v-on:click="active = !active">
                    <a href="#">&sdot; &sdot; &sdot;</a>
                    <ul>
                        <li v-for="item in items"><a href="#">{{item.text}}</a></li>
                    </ul>
                </div>`
        })
        
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                bottomBarActive: true,
                generatedPresentationSlides: [{title: "Nom de la présentation",previewUrl: "https://www.placecage.com/200/130"}]
            },
            methods: {
                removeGeneratedPresentationSlide: function(index) {
                    this.$delete(this.generatedPresentationSlides, index);
                }
            }
        })
    </script>

</body>

</html>